.board {
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../boards/livingroom.png");
}

.bookshelf {
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../boards/bookshelf_orth.png");
}

.chatBackground {
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-image: url("../misc/base_pagina2.jpg");
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.chat {
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-text-fill: white;
}

.rules {
    -fx-background-color: rgba(53,89,119,0.2);
    -fx-text-fill: white;
}

.transparentBackground .scroll-pane {
    -fx-background-color: transparent;
}

.transparentBackground .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.transparentBackground .scroll-pane .content{
    -fx-background-color: transparent;
}

.pickedTiles {
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-image: url("../misc/base_pagina2.jpg");
}

.background_shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 40, 0, 0, 0);
}

.background {
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-repeat: repeat-x, repeat-x;
    -fx-background-image: url("../misc/sfondo_parquet.jpg");
}

.background_login {
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-repeat: repeat-x, repeat-x;
    -fx-background-image: url("../publisher_material/Display_5.jpg");
}

.logo {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 5, 5, 5);
}

.login {
    -fx-background-color: rgba(0, 10, 30, 0.6);
    -fx-background-radius: 50 50 50 50;
}

.tile_selected {
    -fx-fill: yellow;
}

.tile_not_selected {
    -fx-fill: black;
}

.column_selected {
    -fx-background-color: yellow;
    -fx-opacity: 0.4;
}